#email, #instagram, #facebook, #twitter, #youtube, #spotify {
    display: none;
}

#emailArrow, #instagramArrow, #facebookArrow, #twitterArrow, #youtubeArrow, #spotifyArrow{
    content:url('/src/img/red_arrow.png');
    height: 0.85em;
    transition: ease-out 0.4s;
    margin-left: 1vw;
}

#mh4 {
    font-size: 125%;
    color: #252525;
}

.h4{
    color: #252525;
    font-size: 3.5vh;
}

#Siezen {
    color: #252525;
}

#elemente{
    font-size: 3.5vh;
}
