/* Add a black background color to the top navigation */
.topnav {
    background-color: #252525;
    overflow: hidden;
    position: relative;
    padding-left: 7.5vw;
    margin-right: auto;
}

.topnavfixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #00FFC2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
    font-family: Infra-Bold;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #252525;
    color: white;
    font-family: Infra-Bold;
}

@font-face {
  font-family: Infra-Regular; /* This actually is the current font */
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Infra-Bold; /* This actually is the current font */
  src: url(Roboto-Bold.ttf);
}

p {
    font-family: Infra-Regular;
    color: #252525;
    font-size: 24px;
    margin-left: 2%;
    margin-right: 2%;
    hyphens: auto
}

b {
    font-family: Infra-Bold;
    hyphens: auto
}

/* link color */
a {
    font-family: Infra-Regular;
    color: #252525;
    hyphens: auto;
    text-decoration: none;
}

h1, .h1 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #252525;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
}

h2, .h2 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #252525;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

h3, .h3 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #252525;
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: bold;
}

h4, .h4 { /* Used for lists */
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #252525;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    padding-left: 0;
}

h5, .h5 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #252525;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
}

h6, .h6 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #252525;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

/* fix object to the bottom right side of the screen */
.fixright{
   position: fixed;
   bottom: 0px;
   right: 0px;
}

/* fix object to the bottom left side of the screen */
.fixleft{
   position: fixed;
   bottom: 0px;
   left: 0px;
}

/* remove Margin from Body */
body{
    background-color: #00FFC2;
    margin: 0;
    padding: 0;
    font-size: 130%;
}

.mobileonly{
    display: none;
}

input{
    float: right;
    color: #252525;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #252525;
    overflow: hidden;
    outline: none;
    border: none;
}

input:hover {
  background-color: #252525;
  color: black;
}


#align {
    text-align: left
}

.DesktoponlyTab {
    content: "&emsp;"
}

#liste {
    line-height: 1.25
}

.spacer {
    width: 100%;
}

.blogEintragNav{
    position: fixed;
    z-index: 500;
    width: 100%;
}

#offscreenMobile{
    position: absolute;
    left: -5000px;
}

#indeximg {
    max-width: 28%
}

#padding {
    padding-right: 33%
}

#aboutmetext {
    padding-right: 33%;
    font-size: 4vh;
}

.linksjugendLogo{
    height: auto;
    width: 35vw;
    margin-top: auto;
    margin-bottom: 5vh;
    display: inherit;
    margin-left: 5vw;
    margin-right: 5vw;
}

#oneDotMobile {
    display: none;
}

#elemente{
    font-size: 200%
}

#indexHeadline{
    font-size: 200%;
}

#indexText{
    margin-left: 2%;
    margin-right: 2%;
}

.indexTopMargin{
    top:22vh;
}
/* Wikikram*/
#wikiVerzeichnis{
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: 1vw;
}

#wikiText{
    margin-left: 1vw;
    margin-right: 1vw;
}

#wikiVerzeichnisHead{
    margin-left: 3vw;
    font-size: 2rem;
    margin-top: 2vh;
}

#wikiImg{
    position: absolute;
    right: 3vw;
    max-height: auto;
    max-width: 25%;

    border: 10px solid #252525;
}
/* /Wikikram*/

#prImg{
    margin-top: 2vh;
    max-width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 20px solid #252525;
    border-bottom: 0;

    filter: grayscale(100%);
}

#prImgCap{
    margin-left: auto;
    margin-right: auto;
    width: calc(60vw + 40px);
}

#projectsImg{ /* actually image on kontakt.html*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 3vh;

    max-height: auto;
    max-width: 25%;

    border: 10px solid #252525;
    border-bottom: 0;

    filter: grayscale(100%);
}

#projectsImgCap{
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    color: #00FFC2;
    background-color: #252525;
    max-width: calc(25% + 20px);
}
/*/*/

#scrollable{
    filter: invert(11%) sepia(2%) saturate(5%) hue-rotate(314deg) brightness(93%) contrast(89%);
    height: 5vh;
    bottom: 5vh;
    left: 2vw;
}

#indexInsta{
    margin-bottom: 0;
}
