/* Add a black background color to the top navigation */
.topnav {
  background-color: #c9ceff;
  overflow: hidden;
  position: relative;
}

.topnavfixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #252525;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
    font-family: Infra-Bold;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #252525;
    color: white;
    font-family: Infra-Bold;
}

@font-face {
  font-family: Infra-Regular; /* This actually is the current font */
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Infra-Bold; /* This actually is the current font */
  src: url(Roboto-Bold.ttf);
}

p {
    font-family: Infra-Regular;
    color: #E2190C;
    font-size: 24px;
    padding-left: 1%;
    hyphens: auto
}

b {
    font-family: Infra-Bold;
    hyphens: auto
}

/* link color */
a {
    font-family: Infra-Regular;
    color: #E2190C;
    hyphens: auto;
    text-decoration: none;
}

h1, .h1 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #c9ceff;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
}

h2, .h2 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #c9ceff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

h3, .h3 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #E2190C;
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: bold;
}

h4, .h4 { /* Used for lists */
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    padding-left: 0;
}

h5, .h5 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #E2190C;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
}

h6, .h6 {
    font-family: Infra-Bold;
    padding-left: 1%;
    color: #E2190C;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

/* fix object to the bottom right side of the screen */
.fixright{
   position: fixed;
   bottom: 0px;
   right: 0px;
}

/* fix object to the bottom left side of the screen */
.fixleft{
   position: fixed;
   bottom: 0px;
   left: 0px;
}

/* remove Margin from Body */
body{
    background-color: #252525;
    margin: 0;
    padding: 0;
    font-size: 130%;
}

.mobileonly{
    display: none;
}

input{
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #252525;
    overflow: hidden;
    outline: none;
    border: none;
}

input:hover {
  background-color: #ffffff;
  color: black;
}


#align {
    text-align: left
}

.DesktoponlyTab {
    content: "&emsp;"
}

#liste {
    line-height: 1.25
}

.spacer {
    width: 100%;
}

.blogEintragNav{
    position: fixed;
    z-index: 500;
    width: 100%;
}

#offscreenMobile{
    position: absolute;
    left: -5000px;
}

#indeximg {
    max-width: 28%
}

#padding {
    padding-right: 33%
}

#aboutmetext {
    padding-right: 33%
}

#bottomTextIndex{
    color: #ffffff;
}

@media screen and (max-aspect-ratio: 16/10) {
  img{
    display: none;
  }
}

.linksjugendLogo{
    height: auto;
    width: 35vw;
    margin-top: auto;
    margin-bottom: 5vh;
    display: inherit;
    margin-left: 5vw;
    margin-right: 5vw;
}

#oneDotMobile {
    display: none;
}
