#email, #instagram, #facebook, #twitter {
    display: none;
}

#emailArrow, #instagramArrow, #facebookArrow, #twitterArrow{
    content:url('red_arrow.png');
    height: 1em;
}

#mh4 {
    font-size: 125%
}
