#email, #instagram, #facebook, #twitter {
    display: none;
}

#emailArrow, #instagramArrow, #facebookArrow, #twitterArrow{
    content:url('red_arrow.png');
    height: 1em;
    transition: ease-out 0.4s;
}

#mh4 {
    font-size: 125%;
    color: #c9ceff;
}

.h4{
    color: #c9ceff;
}

p {
    color: #ffffff;
}

#Siezen {
    color: #E2190C;
}
