.botnav {
  background-color: #252525;
  overflow: hidden;
  z-index: 10000;
  align-content: center;
}

.botnavfixed{
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.botnav a {
  float: left;
  text-align: center;
  color: #E2190C;
  text-align: center;
  padding: 4% 6%;
  text-decoration: none;
  font-size: Calc(3*17px);
}

/* Add a color to the active/current link */
.botnav a.active {
  background-color: #252525;
  color: white;
}

#touch{
    display: none;
}
