/* Add a black background color to the top navigation */
.topnav {
    background-color: #252525;
    overflow: hidden;
    position: relative;

    font-weight: 600;

    width: 100%;
}

.topnavfixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #00FFC2;
    text-align: center;
    padding: Calc(2*14px) Calc(2*16px);
    text-decoration: none;
    font-size: Calc(2*17px);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #252525;
  color: white;
}

@font-face {
  font-family: Infra-Regular; /* This actually is the current font */
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Infra-Bold; /* This actually is the current font */
  src: url(Roboto-Bold.ttf);
}

p {
    font-family: Infra-Regular;
    color: #252525;
    font-size: 250%;
    margin-right: 3%;
    margin-left: 3%;
    hyphens: auto
}

b {
    font-family: Infra-Bold;
}

/* link color */
a {
    font-family: Infra-Regular;
    color: #252525;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Infra-Bold;
    color: #252525;
    padding-left: 1%;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.25;
}

h1, .h1 {
    font-size: 3.5rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
    padding-left: 2%;
    color: #252525;
}

h2, .h2 {
    font-size: 3.25rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;

    color: #252525;
}

h3, .h3 {
    font-size: 2.75rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
    color: #252525;
}

h4, .h4 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 2%;
    line-height: 1.25;

    color: #252525;
}

h5, .h5 {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
}

h6, .h6 {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
}


/* changes the backgrounds color */
body {
    background-color: #00FFC2;
    font-size: 200%;
}


/* fix object to the bottom right side of the screen */
.fixright{
   position: fixed;
   bottom: 0px;
   right: 0px;
}

/* fix object to the bottom left side of the screen */
.fixleft{
   position: fixed;
   bottom: 0px;
   left: 0px;
}

/* remove Margin from Body */
body{
    margin:0;
}

.desktoponly{
    display:none;
}

.indextext{
    font-size: 275%;
}

.feedsTopPadding{
    padding-top: 20%
}

.footer {
  position: fixed;
  bottom: 0;
}

input{
    float: right;
    color: #ffff;
    text-align: center;
    padding: Calc(2*14px) Calc(2*16px);
    text-decoration: none;
    font-size: Calc(2*17px);
    background-color: #252525;
    overflow: hidden;
    outline: none;
    border: none;
    display: none;
}

input:hover {
  background-color: #252525;
  color: black;
}

#leftPadding {
    padding-left: 2%
}

#align {
    text-align: center
}

#Dutzen {
    text-align: center
}

#padding {
    padding-right: 2%;
    padding-left: 2%;
}

#liste {
    text-align: center;
    line-height: 1,5;
}

#blogEintrag {
    padding-right: 1%;
    padding-left: 1%;
    font-size: 75%;

    margin-top: 8vh;
}

.blogEintragNav{
    position: fixed;
    z-index: 500;
    width: 100%;
    font-size: 200%;
}

#offscreenMobile{
    position: absolute;
    left: -5000px;
}

/* for backwards compatibility*/
#indeximg {
    display: none;
}

#indeximgImg {
    display: none;
}

#aboutmetext {
    font-size: 3.5vh;
    padding-left: 2%;
    padding-right: 2%;
}

#indextext {
    font-size: 125%
}

#blogEintrag {
    font-style: normal;
}

#padding {
    text-align: center;
}

#bottomTextIndex{
    color: #252525;
}

.linksjugendLogo{
    height: auto;
    width: 50vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: inherit;
    margin-left: 25vw;
    margin-right: 25vw;
}

#oneDotMobile {
    color: #252525;
    font-size: 120%;
}

#einleitung {
    font-size: 300%;
}

#indexHeadline{
    font-size: 5vh;
    line-height: 8vh;
}

indexText{
    margin-left: 2%;
    margin-right: 2%;
}

.indexTopMargin{
    top:27vh;
}

/* Wikikram*/
#wikiVerzeichnis{
    font-size: 3vh;
    margin-left: 7vw;
}

#wikiText{
    font-size: 50%;
    margin-left: 2vw;
    margin-right: 2vw;
}

#wikiVerzeichnisHead{
    font-size: 4.5rem;
    margin-left: 3vw;
    margin-top: 1vh;
}

#wikiImg{

    margin-left: auto;
    margin-right: auto;
    display: block;

    width: 100%;
    filter: grayscale(100%);
}

#wikiH1{
    text-align: center
}
/* /Wikikram*/

#prImg{
    height: auto;
    width: 100vw;

    filter: grayscale(100%);
}

#prImgCap{
    margin-top: -9px;
}

#projectsImg{
    height: auto;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    display: block;

    filter: grayscale(85%);
}

#projectsImgCap{
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    color: #00FFC2;
    background-color: #252525;
    max-width: 100%;
}

#scrollable{
    filter: invert(11%) sepia(2%) saturate(5%) hue-rotate(314deg) brightness(93%) contrast(89%);
    height: 4vh;
    bottom: 2vh;
    left: 2vw;
}
