/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.topnavfixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #252525;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00ffc2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #252525;
  color: white;
}
/* change color of all text fields */
p {
 color: #E2190C;
 font-size: 24px;
}

/* link color */
a {
  color: #c9ceff;
}

/* changes the backgrounds color */
body {
  background-color: #252525;
}


/* fix object to the bottom right side of the screen */
.fixright{
   position: fixed;
   bottom: 0px;
   right: 0px;
}

/* fix object to the bottom left side of the screen */
.fixleft{
   position: fixed;
   bottom: 0px;
   left: 0px;
}

/* remove Margin from Body */
body{
    margin:0;
}

.invisible{
    visibility: hidden;
}

.aboutmetext{
    font-size: 300%;
}
