#blogLink {
    line-height: 100%;
    position: relative;
}

#datum {
    color: gray;
    font-size: 1.5rem;
    float: right;
}

#inhaltPreview {
    color: #E2190C;
    hyphens: auto;
    line-height: 1.15
    -webkit-hyphens: auto;
    max-width: 100%;
    padding-right: 30%;
    line-height: 1.25;
}

#blogEintrag {
    font-style: normal;
}
