#blogLink {
    line-height: 100%;
    position: relative;
}

.datum {
    color: gray;
    float: right;
}

#inhaltPreview {
    color: #E2190C;
    hyphens: auto;
    line-height: 1.15
    -webkit-hyphens: auto;
    max-width: 100%;
    padding-right: 25%;
    line-height: 1.25;
    font-size: 150%;
}

#blogEintrag {
    font-style: normal;
}

h2 {
    padding-right: 25%;
}
