.blogLink {
    line-height: 100%;
    position: relative;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.datum {
    color: gray;
    float: left;
    width: 100%;
}

#inhaltPreview {
    color: #252525;
    hyphens: auto;
    line-height: 1.15
    -webkit-hyphens: auto;
    max-width: 100%;
    line-height: 1.25;
    font-size: 150%;
    padding-top: 5%
}

#blogEintrag {
    font-style: normal;
}

#alleBlogLinks {
    margin-top: -3%;
}

p, h2{
    padding-left: 0;
}

h2{
    color: #252525;
}

