body {
    overflow: hidden;
}

.botnav {
    background-color: #252525;
    align-content: center;
}

.botnavfixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
    bottom: 5vh;
    height: 11vh;
    background-color: #252525;
    z-index: 20;
    padding-bottom: 1%;
}

/* Style the links inside the navigation bar */
.botnav a {
  float: left;
  text-align: center;
  color: #E2190C;
  text-decoration: none;
  font-size: Calc(3*17px);
}

/* Add a color to the active/current link */
.botnav a.active {
  background-color: #252525;
  color: white;
}

#touch{
    display: none;
}
